@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");

:root {
  --dark_blue: #266150;
  --blue: #848f8c;
  --semon: #ffdacc;
  --baby_blue: #e7f3ff;
  --off_white: #fdfeff;
}

.max-width {
  max-width: 1350px;
  padding: 0 60px;
  margin: auto;
}

/* ----------------------------------------------------navbar styling---------------------------------------------------- */
.light_mood {
  display: none;
}

.navbar {
  width: 100%;
  background: var(--dark_blue);
  padding: 10px 0;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--off_white);
  font-size: 35px;
  font-family: "Dancing Script", "cursive";
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--off_white);
  margin-left: 25px;
}
.navbar .menu li a:hover {
  color: var(--blue);
}

/*---------------------------------------------------- Home section----------------------------------------------------*/
.home {
  display: flex;
  background: url("../assets/styles/images/background.png") no-repeat center;
  height: 100vh;
  color: var(--dark_blue);
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .paragraph {
  width: 60%;
}

.hero-img {
  display: none;
}

.text1 {
  font-size: 27px;
  color: var(--dark_blue);
}

.text2 {
  color: var(--dark_blue);
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.text3 {
  color: var(--dark_blue);
  font-size: 40px;
  margin: 5px 0;
}

.home .text3 span {
  color: var(--blue);
  font-weight: 500;
}

.btn {
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: var(--off_white);
  color: var(--dark_blue);
}

.success:hover {
  background-color: var(--off_white);
  color: var(--dark_blue);
}

/*---------------------------------------------------- About section----------------------------------------------------*/

.about {
  font-family: "Poppins", sans-serif;
}

.paragraph {
  justify-content: center;
}

.title {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about .title::after {
  content: "__________";
  position: absolute;
  color: var(--dark_blue);
  font-size: 20px;
  font-family: cursive, sans-serif;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .text {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark_blue);
  justify-content: center;
}

.about .about-title a {
  font-size: 20px;
  display: inline-block;
  color: white;
  background: var(--dark_blue);
  padding: 1px 30px;
  margin-top: 30px;
  border-radius: 6px;
  border: 2px solid var(--dark_blue);
}

a {
  text-decoration: none;
}

.about .about-title a:hover {
  background: none;
  font-weight: 600;
  color: var(--dark_blue);
}

.about .text span {
  color: var(--blue);
}

/* ----------------------------------------------------services section---------------------------------------------------- */

.services {
  display: grid;
  height: 50vh;
  place-items: center;
  text-align: center;

  color: var(--dark_blue);
  font-family: "Poppins", sans-serif;
}

.services .services-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-right: 60px;
}

.services .title::after {
  content: "__________";
  position: absolute;
  color: var(--dark_blue);
  font-size: 20px;
  font-family: cursive, sans-serif;
  bottom: -5px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}

.services .services-content .card i {
  font-size: 22px;
  margin-bottom: 7px;
}

.services .services-content .card {
  transition: width 600ms, height 600ms;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 1300px;
  margin: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .services-content .card .box {
  border-radius: 3px;
  padding: 15px;
  color: var(--dark_blue);
  background: var(--baby_blue);
  width: calc(33% -15px);
}

.services .services-content .card:hover .box {
  transform: scale(1.09);
  background: var(--dark_blue);
  color: var(--off_white);
}

.services .services-content .text {
  font-size: 20px;
  font-weight: 500;
}

/* ----------------------------------------------------skills section ----------------------------------------------------*/

.skills .skills-content img {
  margin: 10px;
}

.skills .desc {
  font-size: 25px;
  text-align: center;
  margin: 35px;
}

.skills .title::after {
  content: "__________";
  position: absolute;
  color: white;
  font-family: cursive, sans-serif;
  font-size: 20px;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}

.skills {
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Poppins", sans-serif;
  background: var(--dark_blue);
}

body {
  color: var(--dark_blue);
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 360px;
  height: 400px;
  margin: auto;
}

.carousel-inner .item {
  height: 550px;
}

/*---------------------------------------------------- contact me section ----------------------------------------------------*/

.contacts {
  background-color: #fafcff;
}

.contacts .title::after {
  content: "__________";
  position: absolute;
  color: var(--dark_blue);
  font-size: 20px;
  font-family: cursive, sans-serif;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}

.contacts .contacts-content {
  text-align: center;
  width: 100%;
}

.contacts .contacts-content a {
  font-size: 2em;
  line-height: 1.2em;
  padding: 10px;
  color: var(--dark_blue);
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.contacts .contacts-content a:hover {
  color: #a1c5d1;
}

footer {
  float: none;
  color: var(--dark_blue);
  padding: 20px 23px;
  font-size: 12px;
  font-weight: 550;
  text-align: center;
}

footer span {
  color: #42403f;
}

footer span:hover {
  text-decoration: underline;
}

.fa-facebook {
  color: var(--dark_blue);
}

.fa-linkedin {
  color: var(--dark_blue);
}

.fa-github {
  color: var(--dark_blue);
}

.fa-medium {
  color: var(--dark_blue);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.books {
  display: grid;
  height: 100vh;
  place-items: center;
  color: var(--dark_blue);
  font-family: "Poppins", sans-serif;
}
.books .title::after {
  content: "__________";
  position: absolute;
  color: var(--dark_blue);
  font-size: 20px;
  font-family: cursive, sans-serif;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}
.books .books-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.books .books-content .card {
  transition: width 600ms, height 600ms;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 1300px;
  margin: 3px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.books .books-content .card .box {
  border-radius: 3px;
  padding: 3px;
  color: white;
  background: var(--dark_blue);
  margin-bottom: 15px;
  width: calc(33% -10px);
}

.books .books-content .card:hover .box {
  transform: scale(1.05);
}

.quote .title::after {
  content: "__________";
  position: absolute;
  color: var(--dark_blue);
  font-size: 20px;
  font-family: cursive, sans-serif;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  transform: translateX(-50%);
}

/* responsive media query start */
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }


}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .service-content .card {
    width: 100%;
  }


  .services .services-content .text {
    font-size: 17px;
    font-weight: 550;
  }

}

/* responsive media query */
@media (max-width: 500px) {
  .navbar {
    background: var(--dark_blue);
    padding: 10px 0;
    justify-content: space-between;
  }

  .navbar .logo a {
    color: var(--off_white);
    font-size: 45px;
    margin: auto;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    text-decoration: none;
  }

  .navbar .menu li a {
    text-decoration: none;
    font-size: 17px;
    color: var(--off_white);
  }

  .navbar .menu .nav-item {
    display: none;
  }

  .resume {
    margin-right: 20px;
    margin: auto;
  }

  section {
    padding: 15px 0;
  }

  .home .text {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark_blue);
  }

  .home .paragraph {
    width: 90%;
  }

  .services .services-content .text {
    font-size: 15px;
    font-weight: 550;
  }

  footer {
    float: none;
    color: var(--dark_blue);
    padding: 20px 23px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
  }

  .skills .desc {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }

  .max-width {
    padding: 0 10px;
    margin: 5;
  }

  .services {
    display: grid;
    height: 80vh;
    place-items: center;
    color: var(--dark_blue);
    font-family: "Poppins", sans-serif;
  }

  .books .books-content .card .box img {
    width: 70px;
    height: 90px;
  }

  .books .books-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
  }

  .books .books-content .card {
    transition: width 600ms, height 600ms;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 1300px;
    margin: 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home {
    display: flex;
    background: white;
    height: 100vh;
    color: var(--dark_blue);
    min-height: 500px;
  }

  .hero-img {
    display: block;
    margin: auto;
    width: 170px;
    height: 170px;
  }

  .text1 {
    margin-top: 10px;
  }

  .text2 {
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
  }
  span {
    font-weight: 500;
  }
}
